@import 'mixins';

:root {
  --font-press-start: 'Press Start 2P', system-ui;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-white: #fff;
  --color-blue: #0098ea;
  --color-dark-blue: #00293f;
  --color-yellow: #ffdd00;
  --animated-linar-gradient: linear-gradient(
    100deg,
    #008cff 0%,
    #ff0000 20%,
    #ffa600 40%,
    #eeff00 60%,
    #00ff0d 80%,
    #008cff 95%
  );

  --linear-gradient: linear-gradient(
    90deg,
    #ff0000 0%,
    #ffa600 27%,
    #eeff00 53%,
    #00ff0d 77%,
    #008cff 100%
  );

  --transition: all 0.3s ease-in-out;
  --text-animation: animatedTextGradient 6s linear infinite;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

.container {
  max-width: 1424px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  background-image: url('../icons/subscribe-btn.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 320px auto;
  width: 320px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 24px;
  gap: 8px;
  img {
    width: 24px;
    height: 24px;
  }
  span {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: var(--color-dark-blue);
    text-decoration: underline;
  }

  &:hover {
    background-image: url('../icons/subscribe-btn-hover.svg');
  }
}

// HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  &__logo {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    &--link {
      font-family: var(--font-press-start);
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: var(--color-white);
      transition: var(--transition);
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 1px;
        background: var(--color-white);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
      }

      &:hover {
        background: var(--linear-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
          background: var(--linear-gradient);
        }
      }
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    gap: 32px;
    &--btn {
      width: 48px;
      height: 48px;
      border-radius: 2px;
      font-family: var(--font-press-start);
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: var(--color-white);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-white);
      border-radius: 2px;
      overflow: hidden;

      span {
        background-color: var(--color-blue);
        color: var(--color-white);
        position: relative;
        z-index: 1;
        width: 40px;
        height: 40px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
      }
      &:hover {
        background: var(--linear-gradient);
      }
      &.active {
        span {
          background-color: var(--color-white);
          color: var(--color-dark-blue);
        }

        &:hover {
          span {
            background: transparent;
          }
        }
      }
    }
  }
}

// HERO
.hero {
  background: url('../img/hero-bg.png') no-repeat 100% 100% / cover;
  min-height: 816px;
  &__content {
    padding: 78px 0 238px;
    max-width: 1156px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &--title {
      text-shadow: 10px 0px 0 var(--color-dark-blue);
      font-size: 72px;
      color: var(--color-white);
      font-family: var(--font-press-start);
      line-height: 1;
      margin-bottom: 48px;
    }
    &--subtitle {
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;
      color: var(--color-white);
      a {
        color: var(--color-white);
        text-decoration: underline;
      }
      span {
        font-weight: 800;
        background: var(--animated-linar-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--color-dark-blue);
        background-size: 300% 100%;
        animation: var(--text-animation);
        transition: var(--transition);
        font-size: 38px;
      }
      p {
        font-size: 38px;
        display: inline-block;
        font-weight: 800;
        font-family: var(--font-montserrat);
        color: var(--color-yellow);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--color-dark-blue);
      }
    }
    &--gif {
      position: absolute;
      right: 0;
      top: -40px;
      transform: rotateY(180deg);
    }
    &--actions {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 56px;
    }
    &--btn {
      max-width: 290px;
      width: 100%;
      padding: 36px;
      text-align: center;
      border-radius: 6px;
      height: 140px;
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition);
      span {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 3%;
        color: var(--color-dark-blue);
        font-weight: 600;
      }

      &.yellow {
        background-color: var(--color-yellow);
      }
      &.default {
        background-color: var(--color-white);
      }
      &.blue {
        background-color: var(--color-dark-blue);
        span {
          color: var(--color-white);
        }
      }

      &:hover {
        background: var(--linear-gradient);
        span {
          color: var(--color-dark-blue);
        }
      }

      img {
        position: absolute;
        top: -42px;
        left: 16px;
        width: 48px;
        height: 48px;
        transform: rotateY(180deg);
      }
    }
  }
}

@keyframes animatedTextGradient {
  to {
    background-position: 300% center;
  }
}

// ABOUT
.about {
  padding: 75px 0 0;
  &__title {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-family: var(--font-press-start);
    padding: 14px 40px;
    border-radius: 6px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
  }
  &__wrapper {
    position: relative;
    max-width: 1156px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 56px;
  }
  &__content {
    background-color: var(--color-yellow);
    padding: 128px 80px 52px 328px;
    border-radius: 12px;

    &--video {
      width: 100%;
      aspect-ratio: 16 / 9.33;
      border-radius: 6px;
      overflow: hidden;
    }
    &--chel {
      position: absolute;
      top: -60px;
      bottom: 0;
      left: -142px;
      height: calc(100% + 60px);
    }
  }
}

// CONFIGURE

.configure {
  background-color: var(--color-blue);
  &__wrapper {
    position: relative;
    width: 100%;
    padding: 42px 0;
  }
  &__bg {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    bottom: 10px;
  }
  &__gif {
    width: 212px;
    height: 212px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-press-start);
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 32px;
    z-index: 10;
    position: relative;
  }
  &__price {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-press-start);
    align-items: center;
    text-align: center;
    position: relative;

    p {
      font-size: 62px;
      line-height: 1;
      color: var(--color-yellow);
      text-shadow: 10px 0px 0 var(--color-dark-blue);
    }

    span {
      color: var(--color-yellow);
      font-size: 30px;
      line-height: 1;
      text-shadow: 5px 0px 0 var(--color-dark-blue);
    }
  }
}

// TOKENS
.tokens {
  padding: 64px 0 48px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 82px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &--img {
      width: 200px;
      height: 200px;
      margin-bottom: 24px;
    }
    &--title {
      font-family: var(--font-press-start);
      font-size: 26px;
      line-height: 46px;
      font-weight: 400;
      margin-bottom: 12px;
    }
    &--subtitle {
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      a {
        text-decoration: underline;
        font-weight: 800;
        color: var(--color-dark-blue);
      }
    }
  }
  &__footer {
    max-width: 1156px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    &--title {
      font-family: var(--font-press-start);
      font-size: 30px;
      line-height: 42px;
      color: var(--color-dark-blue);
      text-align: center;
      background-color: var(--color-yellow);
      position: absolute;
      padding: 14px 40px;
      border-radius: 6px;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
    }
    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-blue);
      padding: 24px 48px 24px 64px;
      border-radius: 12px;
      gap: 64px;
    }
    &--gif {
      max-width: 210px;
      width: 100%;
      height: 210px;
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &--content {
      font-size: 24px;
      line-height: 33px;
      color: var(--color-white);
      font-weight: 700;
      span {
        color: var(--color-yellow);
      }
    }
    &--picachu {
      position: absolute;
      top: -80px;
      left: -10px;
    }
  }
}

// PROJECT
.project {
  height: 408px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// SUBSCRIBE
.subscribe {
  background-color: var(--color-dark-blue);
  background-image: url('../icons/subscribe-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__gif {
    width: 122px;
    height: 129px;
    margin-bottom: 26px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: var(--color-white);
    font-family: var(--font-press-start);
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 24px;

    span {
      color: var(--color-yellow);
      display: inline-flex;
      align-items: center;
      gap: 6px;

      img {
        height: 36px;
        margin-bottom: 3px;
      }
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 33px;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 26px;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

// FAQ
.faq {
  padding-top: 62px;
  &__title {
    text-shadow: 10px 0 0 var(--color-yellow);
    font-size: 72px;
    color: var(--color-dark-blue);
    font-family: var(--font-press-start);
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
    span {
      margin-top: -9px;
    }
  }
  &__block {
    position: relative;
    padding-bottom: 111px;
  }
  &__svg {
    width: 100%;
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1.5s ease-out 300ms, opacity 1.5s ease-out;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 576px;
    width: 100%;
    padding-left: 118px;
    position: relative;
    z-index: 10;

    &--title {
      font-size: 24px;
      line-height: 33px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    &--text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: var(--color-dark-blue);
      a {
        color: var(--color-blue);
        text-decoration: underline;
      }
    }
  }
}
