<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__content">
        <h2 class="about__title">How this works</h2>
        <div class="about__content--video">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/YHEG3RlJntU"
            title="How to create airdrop telegram bot? (English subtitles) | Как создать телеграм бота для аирдропа?"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <img src="./img/about-chel.png" alt="about-chel" class="about__content--chel" />
    </div>
  </div>
</section>
