<section class="contact">
  <div class="contact__wrapper">
    <div class="contact__card">
      <svg
        class="hover-gradient"
        width="266"
        height="266"
        viewBox="0 0 266 266"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <mask
          id="mask0_2001_1129"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="266"
          height="266"
        >
          <defs>
            <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" stop-color="#ff0000" />
              <stop offset="27%" stop-color="#ffa600" />
              <stop offset="53%" stop-color="#eeff00" />
              <stop offset="77%" stop-color="#00ff0d" />
              <stop offset="100%" stop-color="#008cff" />
            </linearGradient>
          </defs>
          <path
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            fill="black"
            stroke="var(--color-dark-blue)"
            stroke-width="8"
          />
        </mask>
        <g mask="url(#mask0_2001_1129)">
          <image href="./gif/cat-laptop.gif" width="266" height="266" />
          <path
            class="stroke-target"
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            stroke="var(--color-dark-blue)"
            stroke-width="8"
          />
        </g>
      </svg>
      <a href="#" class="contact__card--btn blue">
        <span>PUT YOUR FEEDBACK HERE</span>
      </a>
    </div>
    <div class="contact__card">
      <svg
        class="hover-gradient"
        width="266"
        height="266"
        viewBox="0 0 266 266"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#ff0000" />
            <stop offset="27%" stop-color="#ffa600" />
            <stop offset="53%" stop-color="#eeff00" />
            <stop offset="77%" stop-color="#00ff0d" />
            <stop offset="100%" stop-color="#008cff" />
          </linearGradient>
        </defs>

        <mask
          id="mask0_2001_1129"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="266"
          height="266"
        >
          <path
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            fill="black"
            stroke="var(--color-white)"
            stroke-width="8"
          />
        </mask>

        <g mask="url(#mask0_2001_1129)">
          <image href="./gif/spongebob.gif" style="width: 103%; scale: 1.3; transform: translate(-15%, 0%)" />
          <path
            class="stroke-target"
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            stroke="var(--color-white)"
            stroke-width="8"
          />
        </g>
      </svg>
      <a href="#" class="contact__card--btn white">
        <span>SUBSCRIBE TO THE CHANNEL HERE</span>
      </a>
    </div>
    <div class="contact__card">
      <svg
        class="hover-gradient"
        width="266"
        height="266"
        viewBox="0 0 266 266"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#ff0000" />
            <stop offset="27%" stop-color="#ffa600" />
            <stop offset="53%" stop-color="#eeff00" />
            <stop offset="77%" stop-color="#00ff0d" />
            <stop offset="100%" stop-color="#008cff" />
          </linearGradient>
        </defs>
        <mask
          id="mask0_2001_1129"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="266"
          height="266"
        >
          <path
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            fill="black"
            stroke="var(--color-yellow)"
            stroke-width="8"
          />
        </mask>
        <g mask="url(#mask0_2001_1129)">
          <rect x="0.333252" y="0" width="266" height="266" fill="var(--color-dark-blue)" />
          <image href="./gif/cat-rainbow.gif" width="266" height="266" />
          <path
            class="stroke-target"
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            stroke="var(--color-yellow)"
            stroke-width="8"
          />
        </g>
      </svg>
      <a href="#" class="contact__card--btn yellow">
        <span
          >BUILD YOUR AIRDROP <br />
          BOT HERE</span
        >
      </a>
    </div>
    <div class="contact__card">
      <svg
        class="hover-gradient"
        width="266"
        height="266"
        viewBox="0 0 266 266"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#ff0000" />
            <stop offset="27%" stop-color="#ffa600" />
            <stop offset="53%" stop-color="#eeff00" />
            <stop offset="77%" stop-color="#00ff0d" />
            <stop offset="100%" stop-color="#008cff" />
          </linearGradient>
        </defs>
        <mask
          id="mask0_2001_1129"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="266"
          height="266"
        >
          <path
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            fill="black"
            stroke="#FFDD00"
            stroke-width="8"
          />
        </mask>
        <g mask="url(#mask0_2001_1129)">
          <image href="./gif/eyes.gif" width="266" height="266" />
          <path
            class="stroke-target"
            d="M16 12H20V8V4H246V8V12H250H254V16V20H258H262V246H258H254V250V254H250H246V258V262H20V258V254H16H12V250V246H8H4V20H8H12V16V12H16Z"
            stroke="#00293F"
            stroke-width="8"
          />
        </g>
      </svg>
      <a href="#" class="contact__card--btn blue">
        <span
          >CONNECT WITH <br />
          SUPPORT HERE</span
        >
      </a>
    </div>
  </div>
  @@include('./footer.html')
</section>
