<section class="faq">
  <div class="container">
    <h2 class="faq__title">F<span>*</span>Q</h2>
    <div class="faq__block">
      <ul class="faq__list">
        <li class="faq__list--item">
          <div class="faq__list--title">How to start?</div>
          <div class="faq__list--text">
            Just follow this 
            <a href="https://www.youtube.com/watch?v=YHEG3RlJntU" target="_blank">instructions</a> 
            and if you will have some <br />
            issues  <a href="https://t.me/airdrop_builder_support" target="_blank">support</a> will
            help you.
          </div>
        </li>
        <li class="faq__list--item">
          <div class="faq__list--title">How can I share my request or idea?</div>
          <div class="faq__list--text">
            Write us via this 
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSeCXM3musHBDxrwodB7vqhPnGulfBQADW9GVO-hWiY_MzTk9Q/viewform"
              target="_blank"
            >
              form
            </a>
          </div>
        </li>
        <li class="faq__list--item">
          <div class="faq__list--title">Do I need to engage any specialists?</div>
          <div class="faq__list--text">No. This is the ready-to-use solution.</div>
        </li>
      </ul>
      <img src="./icons/faq.svg" class="faq__svg" id="mySVG" alt="faq" />
    </div>
  </div>
</section>
