<header class="header">
  <a href="/" class="header__logo"><img src="./icons/logo.svg" alt="logo" /></a>
  <div class="header__wrapper">
    <nav class="header__nav">
      <a href="#faq" class="header__nav--link">FAQ & Support</a>
      <a href="#privacy" class="header__nav--link">Privacy Policy</a>
    </nav>
    <div class="header__lang">
      <button class="header__lang--btn"><span>RU</span></button>
      <button class="header__lang--btn active"><span>EN</span></button>
    </div>
  </div>
  <div class="nav-burger">
    <img src="./icons/burger.svg" alt="burger" class="burger" />
  </div>
  <div class="nav-burger-close">
    <img src="./icons/burger-close.svg" alt="burger-close" class="burger-close" />
  </div>
</header>
