<section class="hero">
  <div class="container">
    @@include('./header.html')
    <div class="hero__content">
      <h1 class="hero__content--title">EZ Airdop</h1>
      <div class="hero__content--subtitle">
        Launch your <span>MEME COIN</span>
        <p>AIRDROP</p>
      </div>
      <div class="hero__content--subtitle">
        in TON with a <a href="#">ready-to-use</a> Telegram bot
      </div>
      <div class="hero__content--actions">
        <a href="#" class="hero__content--btn yellow">
          <img src="./gif/hero-worm.gif" alt="hero-worm" />
          <span>AIRDROP BOT BUILDER</span>
        </a>
        <a href="#" class="hero__content--btn default"> <span>DEMO OF YOUR FUTURE BOT</span></a>
        <a href="#" class="hero__content--btn blue"><span>PITCH DECK</span></a>
      </div>
      <img class="hero__content--gif" src="./gif/hero-gif.gif" alt="hero-gif" />
    </div>
  </div>
</section>
