<div class="mobile-nav">
  <div class="container">
    @@include('./header.html')
    <div class="hero__content">
      <h1 class="hero__content--title"><span>EZ</span> Airdrop</h1>
    </div>
    <div class="hero__content--actions">
      <a href="#" class="hero__content--btn yellow">
        <span>AIRDROP BOT BUILDER</span>
      </a>
    </div>
    <div class="header__wrapper header__wrapper--mob">
      <nav class="header__nav">
        <a href="#faq" class="header__nav--link">FAQ & Support</a>
        <a href="#privacy" class="header__nav--link">Privacy Policy</a>
      </nav>
      <div class="header__lang">
        <button class="header__lang--btn"><span>RU</span></button>
        <button class="header__lang--btn active"><span>EN</span></button>
      </div>
    </div>
    <div class="mob-btn">
      <a href="#" class="btn btn__blue">
        <img src="./icons/telegram-white.svg" alt="telegram" />
        <span>TON PRO FOR BUILDERS</span>
      </a>
    </div>
  </div>
</div>
