<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <div class="subscribe__gif">
        <img src="./gif/subscribe.gif" alt="subscribe" />
      </div>
      <h2 class="subscribe__title">
        <span>
          <img src="./icons/s-icon.svg" alt="s-icon" />
          UBSCRIBE
        </span>
        TO UPDATES AND PROMOTIONS
      </h2>
      <p class="subscribe__subtitle">We build our product in public. It is useful for you and funny for both of us</p>
      <div class="subscribe__actions">
        <a href="#" class="btn">
          <img src="./icons/telegram.svg" alt="telegram" />
          <span>TON PRO FOR BUILDERS</span>
        </a>
        <a href="#" class="btn">
          <img src="./icons/merch.svg" alt="merch" />
          <span>BUY MERCH</span>
        </a>
      </div>
    </div>
  </div>
</section>
